<% provide(:title, "Sign up") %>
<h1 class="text-center">Sign up</h1>

<div class="d-flex justify-content-center align-items-center">
  <%= form_with model: @user, url: user_index_path, class: "row g-3 w-50" do |f|%>
    <%= render "shared/error_message", object: f.object %>
    <div class="col-md-6">
      <%= f.label "Name" ,class: "form-label"%>
      <%= f.text_field :name , class: "form-control"%>
    </div>
    <div class="col-md-6">
      <%= f.label "Email" ,class: "form-label"%>
      <%= f.text_field :email, class: "form-control"%>
    </div>
    <div class="col-12">
      <%= f.label "Password", class: "form-label"%>
      <%= f.password_field :password, class: "form-control"%>
    </div>
    <div class="col-12">
      <%= f.label "Password confirmation", class: "form-label"%>
      <%= f.password_field :password_confirmation, class: "form-control"%>
    </div>
    <div class="col-12">
      <div class="form-check">
        <%= f.check_box :remember, class: "form-check-input" %>
        <%= f.label "Remember me",class: "form-check-label"%>
      </div>
    </div>
    <div class="col-12">
      <%= f.submit "Sign up", disable_with: 'Submiting...', class: "btn btn-primary" %>
    </div>
  <%end%>
</div>
