<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav justify-content-between w-100">
          <div class="nav-item navbar-nav">
            <%if logged_user? %>
              <li class="nav-item">
                <%= link_to cart_user_path(current_user) do %>
                  <%= content_tag :i, '', class: 'fa-solid fa-cart-shopping' %>
                <% end %>
              </li>
            <% end %>
          </div> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown">Profile</a>
            <ul class="dropdown-menu dropdown-menu-end">
            <% unless logged_user? %>
              <li><%= link_to "Login", log_in_path , class: "dropdown-item"%></li>
              <li><%= link_to "Sign up", new_user_path , class: "dropdown-item"%></li>
            <%else%>
              <%if current_user.main_admin? %>
                <li><%= link_to "Users", user_index_path , class: "dropdown-item"%></li>
              <% end %>
              <% if current_user.admin? %>
                <%= link_to "Create Product", new_product_path, class: "dropdown-item" %>
              <% end %>
              <li><%= link_to "Change profile", edit_user_path(current_user) , class: "dropdown-item"%></li>
              <li><%= link_to "Reset password", default_path, class: "dropdown-item" %><li>
              <li><%= button_to "Log out", logout_path, method: :delete, class: "dropdown-item"%></li>
            <%end%>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>